.playlist-card {
  width: 16rem;
  border-radius: 10px;
  padding: 12px;
}

.playlist-card img {
  border-radius: 10px;
}

.playlist-card-description {
  font-size: 12px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #444;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
