body {
  background-color: #202020;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  box-shadow: inset 10px 20px 5px 20px black,
    inset 10px 20px 5px 20px rgb(186, 28, 28);
}

.swiper-slide {
  font-size: 18px;

  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
