.playlist-card {
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

.playlist-card img {
  border-radius: 10px;
}

.playlist-card-info-container {
  min-width: 100px
}

@media (max-width: 575px) {

  .playlist-card-info-container {
    min-width: 140px
  }

}

.playlist-card-description {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.recently-played-cards-container {
  gap: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
}

@media (max-width: 768px) {

  .recently-played-cards-container {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
  }

}

.recently-played-playlist-card,
.recently-played-card {
  min-width: 100px;
  max-width: 300px;
  border-radius: 4px;
  background-color: rgb(43, 43, 43);
}

.recently-played-playlist-img-container,
.recently-played-img-container {
  width: 60px;
  flex-shrink: 0;
}

@media (max-width: 575px) {
  .recently-played-playlist-img-container,
  .recently-played-img-container {
    width: 45px;
  }
}

.recently-played-playlist-img-container img,
.recently-played-img-container img {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.recently-played-playlist-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.recently-played-playlist-info-container,
.recently-played-info-container {
  padding: 0 16px;
  min-width: 0;
}

.recently-played-playlist-info-container p,
.recently-played-info-container p {
  font-size: 12px;
  font-weight: 600;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


/*_____________________*/
.hero {
  position: relative;
  background: circle;
  background-image: radial-gradient(farthest-corner at 100% 0%, rgba(255, 255, 255, 0) 25%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
  margin: 10px;
}

.player-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(24, 24, 24);
  border-top: 1px solid rgb(50, 50, 50);
  height: 100px;
  padding: 18px;
  z-index: 999;
}

.player-bar-info-track-img-container {
  width: 40px;
  height: 40px;
}

#progress-bar {
  accent-color: #BABABA;
  height: 12px;
  min-width: 300px;
}

.progress-bar-start-number,
.progress-bar-finish-number {
  color: #BABABA;
  font-size: 12px;
}

.volume-input {
  accent-color: #BABABA;
  max-width: 80px;
  height: 8px;
}