
.playlist-card {
  width: 16rem;
  border-radius: 10px;
  padding: 12px;
}

.playlist-card img {
  border-radius: 10px;
}

.playlist-card-description {
  font-size: 12px;
}

  .recently-played-img-container,
  .recently-played-playlist-img-container {
    width: 200px;
    height: 200px;
  }


.recently-played-playlist-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.recently-played-img-container img,
.recently-played-playlist-img-container img {
  width: 100%;
  object-fit: cover;
}
