/*_______________________________________________________*/
.playlist-card {
  width: 16rem;
  border-radius: 10px;
  padding: 12px;
}

.playlist-card img {
  border-radius: 10px;
}

.playlist-card-description {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.recently-played-cards-container {
  gap: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
}

@media (max-width: 768px) {

  .recently-played-cards-container {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
  }

}

.recently-played-playlist-card,
.recently-played-card {
  min-width: 100px;
  max-width: 300px;
  border-radius: 4px;
}

.recently-played-playlist-img-container,
.recently-played-img-container {
  max-width: 60px;
  min-width: 20px;
}

.recently-played-playlist-img-container img,
.recently-played-img-container img {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.recently-played-playlist-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.recently-played-playlist-info-container,
.recently-played-info-container {
  padding: 0 16px;
}

.recently-played-playlist-info-container p,
.recently-played-info-container p {
  font-size: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}